<!DOCTYPE html>
<html lang="en" ng-app="profesorApp"> <!--Directiva para decir que es una App de Angular-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

<!--ANGULAR JS-->
    <script src="js/lib/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>



<h1>Profesor</h1>

<div ng-controller="profesorController as pc">
<h4>{{profesor.nombre | uppercase}}</h4>
<hr>

<div class="row">
    
    <!-- Div que contiene la imagen del profesor -->
    <div class="col-sm-3">
        <section class="panel">
            <div class="panel-body" align="center">
                <img ng-src="{{profesor.foto}}" class="rounded-circle" alt="" width="150px" height="150px">
            </div>
        </section>
    </div>

    <!-- Div, donde se mostrará la bio del profesor -->
    <div class="col-sm-9">
        <section class="panel">
            <div class="panel-body">
                    {{profesor.bio}} 
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                <br>
                <br>
                <strong>Edad:</strong> {{profesor.edad}} 
            </div>
        </section>
    </div>


</div>

<div class="row">
       
    Nombre:
        <br>
        <input type="text" ng-model="editando.nombre"  class="form-control">
      
    
        <button class="btn btn-primary" ng-click="editar()">Editar</button>
        <button class="btn btn-success" ng-click="guardar()">Guardar</button>


</div>
    


</div> <!--end div-->


<h1>Video</h1>

<div ng-controller="videoController as pvc">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/58u-zkDLNPg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
    
    
    <h4>{{pvc.video.titulo | uppercase}}</h4>
    <h4>{{pvc.video.likes}}LIKES</h4>
        <hr>
        
        <div class="row">
            
            <!-- Div que contiene la imagen del profesor -->
            <div class="col-sm-3">
                <section class="panel">
                    <div class="panel-body" align="center">
                            {{pvc.video.codigo}}
                          
                        <img ng-src="{{pvc.video.codigo}}" class="rounded-circle" alt="" width="150px" height="150px">
                    </div>
                </section>
            </div>

            <div class="col-sm-9">
                    <section class="panel">
                        <div class="panel-body">
                                {{pvc.video.categoria}} 
                           
                            <br>
                            <br>
                            <strong>Codigo:</strong> {{pvc.video.codigo}} 
                        </div>
                    </section>
                </div>
        
            <!-- Div, donde se mostrará la bio del profesor -->
            <div class="col-sm-9">
                <section class="panel">
                    <div class="panel-body">
                            {{pvc.video.categoria}} 
                       
                        <br>
                        <br>
                        <strong>URL:</strong> {{pvc.video.url}} 
                    </div>
                </section>
            </div>
        
        
        </div>
        
        
        </div> <!--end div-->
</body>
</html>